$gray-800: #2D3748 !default;
$gray-700: #4A5568 !default;
$gray-600: #718096 !default;
$gray-500: #a0aec0 !default;
$gray-400: #CBD5E0 !default;
$gray-300: #e2e8f0 !default;
$gray-200: #EDF2F7 !default;
$gray-100: #F7FAFC !default;

$blue-500: #4299E1 !default;
$blue-300: #90CDF4 !default;
$blue-100: #EBF8FF !default;

$red-500: #e53e3e !default;
$green-500: #48BB78 !default;